*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body{
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


h2{
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  font-family: monospace;
}
